./tmp
./tmp_max_distance_3.0
./tmp_mean
./tmp_with_process_obs
./tmp_with_process_obs_new
./tmp_with_whole_obs
thirdparty
tmp*
logs
*.pth
*.pyc
*.ply
*.jpg
**/__pycache__
*.csv
debug*
run.sh
*.png
.vscode/